.app__header {
    background-color: #171717;
}

.app__header-h1 {
    color: #F0A202;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}

.header__p {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.app__wrapper_img img {
    width: 80%;
    border-radius: 50px;
}