.app__specialMenu {
    flex-direction: column;
    background-color: #171717;
}

.app__specialMenu-title {
    margin-bottom: 2rem;
    text-align: center;
}

.specialMenu-title {
    font-family: 'Cormorant Garamond', serif;
    color: #F0A202;
}

.app__specialMenu-menu {
    width: 100%;
    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 50px;
}

.app__specialMenu-menu section {
    width: 1px;
    height: 470px;
    background-color: grey;
    margin: 0 5rem;
}

.app__specialMenu-menu_heading {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 28px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
}

.app__specialMenu-menu_burgers,
.app__specialMenu-menu_steaks {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__specialMenu-menu_img {
    width: 410px;
    margin: 0 2rem;
}

.app__specialMenu-menu_img img {
    width: 100%;
    height: auto;
}

.app__specialMenu_menu_items {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .app__specialMenu-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0;
    }
    .app__specialMenu-menu section {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .app__specialMenu-menu_img {
        width: 100%;
    }

    .app__specialMenu-menu_heading {
        font-size: 35px;
        line-height: 48.5px;
    }
}